<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <form action="/api/restaurants" method="POST">
        <label for="page">Page:</label>
        <input type="text" id="page" name="page">
        <label for="perPage">PerPage:</label>
        <input type="text" id="perPage" name="perPage">
        <label for="borough">Borough:</label>
        <input type="text" id="borough" name="borough">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
